aenum==2.2.1
aniso8601==8.0.0
boto3==1.9.253
botocore==1.12.253
certifi==2019.9.11
Click==7.0
docutils==0.15.2
flasgger==0.9.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
gremlinpython==3.4.4
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==2.6.0
MarkupSafe==1.1.1
mistune==0.8.4
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
s3transfer==0.2.1
six==1.12.0
tornado==4.5.3
urllib3==1.25.6
Werkzeug==0.16.0